{% assign fulcrum_posts = site.pages | where_exp: "p", "p.path contains 'fulcrum/' and p.path != 'fulcrum/index.html'" %}
{% assign fulcrum_posts = fulcrum_posts | sort: "date" | reverse %}
<script id="fulcrum-posts-data" type="application/json">
[
{% for post in fulcrum_posts %}
  {% assign post_title = post.title %}
  {% if post_title == nil or post_title == '' %}
    {% assign post_title = post.path | split: '/' | last | replace: '.md', '' | replace: '.html', '' %}
  {% endif %}
  {% assign post_tags = post.tags | default: post.keywords | default: '' %}
  {% assign post_date = post.date | date: '%Y-%m-%d' %}
  {% assign excerpt = post.content | strip_html | truncate: 280, '' %}
  {
    "title": {{ post_title | jsonify }},
    "url": {{ post.url | relative_url | jsonify }},
    "date": {{ post_date | jsonify }},
    "tags": {{ post_tags | jsonify }},
    "excerpt": {{ excerpt | jsonify }}
  }{% unless forloop.last %},{% endunless %}
{% endfor %}
]
</script>
